    @media (max-width: 424px) {
        .portfolio__list-item:not(:nth-child(1)) {
            margin-top: 30px;
        }
        .portfolio__list-item:nth-last-child(-n+3) {
            display: none;
        }
        .about-me__list-item {
            display: none;
        }
        .about-me__list-program {
            margin: 0;
        }
        .footer__following {
            display: none;
        }
        .footer__contacts-item-list::before {
            display: none;
        }
        .order {
            display: none;
        }
    }
    
    @media (min-width: 425px) {
        .container {
            width: 425px;
            padding: 0 20px;
        }
        .portfolio__list {
            padding: 30px;
        }
        .portfolio__list-item {
            width: 170px;
        }
        .footer__contacts-item {
            display: inline-block;
            text-align: left;
            margin-bottom: 30px;
        }
        .footer__contacts-item-list {
            padding-left: 40px;
        }
        .footer__following-item {
            display: flex;
        }
        .footer__following-item {
            display: flex;
            justify-content: center;
        }
        .footer__following-list {
            padding: 10px;
        }
        .my-photo {
            margin-right: 50px;
            width: 200px;
        }
        .navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .logotype {
            font-size: 20px;
        }
        .order {
            font-size: 15px;
        }
        .header__title {
            font-size: 50px;
            line-height: 50px;
        }
        .menu__list-item {
            font-size: 13px;
        }
    }
    
    @media (max-width: 599px) {
        .greeting {
            padding-bottom: 20px;
        }
        .portfolio__list-item:nth-last-child(-n+4) {
            margin-top: 20px;
        }
        .portfolio__list {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .portfolio__list-item {
            width: 300px;
            height: 300px;
        }
    }
    
    @media (min-width: 600px) {
        .container {
            width: 600px;
            padding: 0 30px;
        }
        .header__title {
            font-size: 70px;
            line-height: 70px;
        }
        .menu__list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .greeting__item {
            display: flex;
            padding: 20px 0;
        }
        .greeting__description {
            padding-right: 50px;
            font-size: 18px;
        }
        .social-overlay__item-link::after {
            width: 30px;
            height: 30px;
        }
        .social-overlay__item {
            left: -70px;
            top: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
        .footer-item {
            display: flex;
            justify-content: space-between;
        }
        .footer__following-item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .footer__following-list {
            padding: 5px;
        }
        .footer__following-link::after {
            bottom: -5px;
        }
        .footer__navigation-item-list {
            margin-bottom: 15px;
        }
        .footer__navigation {
            margin: 0;
        }
        .portfolio__list {
            padding: 30px;
        }
        .portfolio__list-item {
            width: 170px;
            height: 170px;
        }
        .portfolio__list-item:nth-last-child(-n+3) {
            margin-top: 20px;
        }
    }
    
    @media (max-width: 767px) {}
    
    @media (min-width: 768px) {
        .container {
            width: 768px;
            padding: 0 30px;
        }
        .menu__list {
            display: flex;
            justify-content: space-between;
        }
        .menu__list-link {
            font-size: 20px;
        }
        .greeting {
            background: rgb(255, 255, 255) url(../img/about_me/background-first.png) no-repeat left bottom;
        }
        .greeting__item {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
        }
        .greeting__description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 400px;
            padding-right: 0;
            font-size: 20px;
        }
        .my-photo {
            height: 300px;
            margin: 0;
            width: auto;
        }
        .social-overlay__item-link::after {
            width: 40px;
            height: 40px;
        }
        .social-overlay__item {
            left: -90px;
            justify-content: space-around;
        }
        .portfolio__list {
            padding: 30px;
        }
        .portfolio__list-item {
            width: 210px;
            height: 210px;
        }
        .form-wrapper {
            width: 600px;
        }
        .contacts__item {
            display: flex;
            justify-content: center;
        }
    }
    
    @media (max-width: 1023px) {
        .developer-screen {
            display: none;
        }
        .footer {
            text-align: center;
        }
        .footer__about-me {
            display: none;
        }
        .text-dec-first {
            font-size: 15px;
        }
        .form-wrapper {
            margin: 0 20px;
        }
    }
    
    @media (min-width: 1024px) {
        body {
            background-image: url(../img/header/background-photo.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .container {
            width: 1024px;
            padding: 0 60px;
        }
        .header__title {
            font-size: 90px;
            line-height: 90px;
        }
        .menu__list-link {
            font-size: 30px;
        }
        .portfolio__list-item {
            width: 280px;
            height: 280px;
        }
        .portfolio__list {
            padding: 40px;
        }
        .portfolio__list-item:nth-last-child(-n+3) {
            margin-top: 40px;
        }
        .contacts__item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .developer-screen {
            width: 300px;
            height: 300px;
        }
        .greeting__description {
            width: 600px;
            font-size: 24px;
        }
        .footer__about-me {
            width: 30%;
        }
        .footer__following {
            width: 15%;
            text-align: center;
        }
        .footer__following-list {
            padding: 5px;
        }
    }