@media (max-width: 599px) {
    .portfolio__list-item:nth-last-child(-n+3) {
        display: none;
    }
    .about-me__list-item {
        display: none;
    }
    .about-me__list-program {
        margin: 0;
    }
    .developer-screen {
        display: none;
    }
    .footer__about-me {
        display: none;
    }
    .footer__following {
        display: none;
    }
    .footer {
        text-align: center;
    }
    .footer__contacts-item-list::before {
        display: none;
    }
    .order {
        display: none;
    }
}

@media (min-width: 600px) {
    .container {
        width: 600px;
    }
}

@media(min-width: 769px) and (max-width: 992px) {}

@media(min-width: 993px) and (max-width: 1200px) {}