@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat-v14-latin_cyrillic-regular.woff') format('woff'), url('../font/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('../font/anonymous-pro-v13-latin_cyrillic-regular.woff') format('woff'), url('../font/anonymous-pro-v13-latin_cyrillic-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../font/jura-v14-latin_cyrillic-regular.woff') format('woff'), url('../font/jura-v14-latin_cyrillic-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    --font-first: "Montserrat", sans-serif;
    --font-second: "Jura", sans-serif;
    --font-third: "Caveat", cursive;
    --font-logotype: "Anonymous Pro", monospace;
}

@keyframes animation_background {
    0% {
        box-shadow: 25px 0px 40px -16px rgba(243, 229, 33, 1);
    }
    25% {
        box-shadow: 0px 25px 40px -16px rgba(243, 229, 33, 1);
    }
    50% {
        box-shadow: -25px 0px 40px -16px rgba(243, 229, 33, 1);
    }
    75% {
        box-shadow: 0px -25px 40px -16px rgba(243, 229, 33, 1);
    }
    100% {
        box-shadow: 25px 0px 40px -16px rgba(243, 229, 33, 1);
    }
}

@keyframes anim_arrow {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes name-apper {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    100% {
        transform: translate(20px, -10px);
        opacity: 1;
    }
}

@keyframes anim_social {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes anim_shadow {
    0% {
        box-shadow: 0px 0px 20px 0px rgba(237, 253, 4, 0.75);
    }
    50% {
        box-shadow: 0px 0px 0px 0px rgba(237, 253, 4, 0.75);
    }
    100% {
        box-shadow: 0px 0px 20px 0px rgba(237, 253, 4, 0.75);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* font-family: 'Kaushan Script', cursive; */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    background-color: #000000;
    font-family: var(--font-first);
}

.text-dec-first {
    font-family: var(--font-second);
    font-size: 24px;
    font-style: italic;
}

.container {
    margin: 0 auto;
    width: 320px;
    padding: 0 10px;
}

.header {
    color: white;
    padding-top: 40px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navigation {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 60px;
}

.logotype {
    color: #ffffff;
    transition: color 200ms linear;
    font-family: var(--font-logotype);
    font-size: 40px;
    padding: 5px;
}

.logotype:hover {
    color: #ffff00;
}

.order-link {
    display: block;
    color: #ffff00;
    position: relative;
    transition: color .4s linear;
    padding: 5px;
}

.order-link:hover {
    color: white;
}

.order-link::after {
    content: '';
    display: block;
    background-color: #ffff00;
    height: 2px;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    transition: width .4s linear;
}

.order-link:hover::after {
    width: 100%;
    color: white;
}

.header__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    /* line-height: 80px; */
    line-height: 40px;
    font-weight: 600;
    font-family: var(--font-second);
    margin-bottom: 60px;
}

.color-decoration {
    color: #ffff00;
}

.arrow-link {
    text-align: center;
    animation-name: anim_arrow;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.arrow {
    color: #ffffff;
    font-size: 50px;
    padding: 10px;
}

.arrow:hover {
    color: #ffff00;
}

.menu {
    margin-bottom: 50px;
}

.menu__list-item {
    margin: 0 auto;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    font-size: 18px;
    transition: 300ms linear;
    cursor: pointer;
}

.menu__list-link {
    color: #ffffff;
    font-weight: 600;
    transition: 200ms linear;
    font-family: var(--font-second);
}

.menu__list-link:hover {
    color: #000000;
}

.menu__list-item:hover {
    background-color: rgb(255, 255, 0, 0.8);
}

.menu__list-item:hover .menu__list-link {
    color: #000000;
}


/* ---------------------------------------greeting--------------------------------- */

.greeting {
    padding-bottom: 20px;
    background: rgb(255, 255, 255);
    animation-name: anim_shadow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.greeting__description {
    font-size: 15px;
    padding: 20px;
    background-color: rgba(255, 255, 255, .8);
}

.my-photo {
    margin-left: auto;
    width: 200px;
}

.social-overlay__wrap {
    position: relative;
}

.social-overlay:hover::before {
    opacity: 1;
}

.social-overlay__item {
    position: absolute;
    left: -35px;
    top: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition-property: transform, opacity;
    transition-duration: .5s;
    transition-timing-function: linear;
    opacity: 1;
    transform: translateX(30px);
}

.social-overlay:hover .social-overlay__item {
    opacity: 1;
}

.social-overlay__item-link::after {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    background-size: cover;
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.social-overlay__item-link-instagram::after {
    background-image: url(../img/greeting/social-instagram.png);
}

.social-overlay__item-link-facebook::after {
    background-image: url(../img/greeting/social-fasebook.png);
}

.social-overlay__item-link-twitter::after {
    background-image: url(../img/greeting/social-twitter.png);
}

.social-overlay__item-link-telegram::after {
    background-image: url(../img/greeting/social-telegram.png);
}

.social-overlay__item-link:hover::after {
    transform: scale(1.2);
}


/*------------------------------------ portfolio---------------------------------- */

.portfolio {
    padding-top: 20px;
    padding-bottom: 20px;
}

.portfolio__list {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    animation-name: anim_shadow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.section-title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: var(--font-second);
}

.portfolio__list-item {
    width: 340px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s linear;
    margin-bottom: 20px;
}

.portfolio__list-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
}

.portfolio__list-item:not(:nth-child(-n+3)) {
    margin-top: 40px;
}

.overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 0);
    transition: background-color 0.3s linear;
    opacity: 0;
}

.portfolio__list-item:hover .overlay {
    opacity: 0.3;
}

.portfolio__list-title {
    color: black;
    position: absolute;
    left: 15px;
    bottom: 15px;
    opacity: 0;
    z-index: 1;
}

.portfolio__list-item:hover .portfolio__list-title {
    animation-name: name-apper;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.portfolio__list-link {
    position: absolute;
    text-align: center;
    align-items: center;
    padding-top: 4px;
    display: block;
    border-radius: 20px;
    color: black;
    font-family: var(--font-first);
    font-size: 22px;
    background-color: rgb(248, 219, 52);
    width: 120px;
    height: 40px;
    justify-content: center;
    opacity: 0;
    transition: opacity, transform;
    transition-timing-function: linear;
    transition-duration: 0.1s;
}

.portfolio__list-item:hover .portfolio__list-link {
    opacity: 1;
}

.portfolio__list-link:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    opacity: 1;
}


/* ---------------------------------------about_me--------------------------------- */

.about-me__item {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 700px;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid rgb(156, 156, 156);
}

.about-me__discription-item {
    max-width: 700px;
    margin-bottom: 30px;
}

.about-me__discription-item-title {
    font-size: 13px;
}

.about-me__discription-item-text {
    font-size: 13px;
}

.about-me__list-item {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
}

.about-me__list-item::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    top: 0;
    left: 0;
    position: absolute;
    margin-left: 15px;
    transition: all;
    transition-duration: .3s;
    transition-timing-function: linear;
}

.about-me__list-item:hover::before {
    transform: scale(1.3) rotate(10deg);
}

.about-me__list-item-html::before {
    background-image: url(../img/footer/icon-html.png)
}

.about-me__list-item-css::before {
    background-image: url(../img/footer/icon-css.png)
}

.about-me__list-item-adobe::before {
    background-image: url(../img/footer/icon-adobe.png)
}

.about-me__list-item-ps::before {
    background-image: url(../img/footer/icon-ps.png)
}

.about-me__list-item-git::before {
    background-image: url(../img/footer/icon-git.png)
}

.about-me__list-program {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 50px;
}

.about-me__item {
    display: flex;
}

.contacts {
    padding-top: 20px;
}

.form-wrapper {
    background-color: #fff;
    padding: 30px;
    animation-name: anim_shadow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.contacts__form {
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input input {
    width: 100%;
    height: 50px;
    border-style: none;
    padding-left: 10px;
    margin-bottom: 10px;
    outline: none;
    border-bottom: 1px solid #dadada;
    transition: border-bottom;
    transition-timing-function: linear;
    transition-duration: 0.3s;
    font-size: 18px;
    font-family: var(--font-first);
}

.input select {
    width: 100%;
    height: 50px;
    border-style: none;
    padding-left: 10px;
    margin-bottom: 10px;
    outline: none;
    border-bottom: 1px solid #dadada;
    transition: border-bottom;
    transition-timing-function: linear;
    transition-duration: 0.3s;
    font-size: 18px;
    font-family: var(--font-first);
}

.contact-form__select {
    font-size: 18px;
    color: rgb(187, 187, 187);
    font-family: var(--font-first);
}

.input input:hover {
    border-bottom: 1px solid #f3c83b;
}

.wish {
    outline: none;
    border-style: none;
    width: 100%;
    height: 150px;
    resize: none;
    padding: 10px;
    border-bottom: 1px solid #dadada;
    transition: border-bottom;
    transition-timing-function: linear;
    transition-duration: 0.3s;
    font-size: 18px;
    font-family: var(--font-first);
}

.wish:hover {
    border-bottom: 1px solid #f3c83b;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn {
    display: block;
    width: 140px;
    height: 30px;
    padding: 0 10px;
    background-color: yellow;
    border-style: none;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--font-first);
    font-weight: 600;
    opacity: .7;
    transition: all;
    transition-timing-function: linear;
    transition-duration: 0.1s;
    outline: none;
}

.btn:hover {
    opacity: 1;
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn:nth-child(1) {
    margin-right: 20px;
}

.contacts__form textarea::placeholder {
    font-size: 18px;
    color: rgb(187, 187, 187);
    font-family: var(--font-first);
}

.contacts__form input::placeholder {
    font-size: 18px;
    color: rgb(187, 187, 187);
    font-family: var(--font-first);
}

.input input[type='email']:invalid {
    color: red;
}

.developer-screen {
    background-image: url(../img/contact/developer.png);
    background-size: cover;
    width: 400px;
    height: 400px;
}


/* ---------------------------------footer ---------------------------------------------*/

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(83, 75, 75);
    animation-name: anim_shadow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.footer-item {
    color: #fff;
}

.footer-title {
    text-transform: uppercase;
    font-family: var(--font-second);
    margin-bottom: 20px;
}

.footer-description {
    margin-bottom: 20px;
    color: rgb(177, 177, 177);
}

.footer__about-me {
    padding-right: 30px;
}

.footer__navigation {
    margin-bottom: 70px;
}

.footer__navigation-item-list {
    margin-bottom: 10px;
}

.footer__navigation-item-link {
    color: rgb(177, 177, 177);
    border-bottom: 1px solid rgba(177, 177, 177, 0);
    transition: border-bottom;
    transition-timing-function: linear;
    transition-duration: 0.3s;
}

.footer__navigation-item-link:hover {
    border-bottom: 1px solid rgba(177, 177, 177, 1);
}

.footer__contacts-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__contacts-item-list {
    position: relative;
    margin-bottom: 20px;
}

.footer__contacts-item-list::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
    top: -5px;
    left: 0;
    position: absolute;
}

.footer__contacts-item-list-location::before {
    background-image: url(../img/footer/icon-location.png);
}

.footer__contacts-item-list-email::before {
    background-image: url(../img/footer/icon-mail.png);
}

.footer__contacts-item-list-phone::before {
    background-image: url(../img/footer/icon-phone.png);
}

.footer__contacts-item-list {
    color: rgb(177, 177, 177);
}

.footer__following {
    padding-right: 30px;
}

.footer__following-item {
    display: flex;
}

.footer__following-list {
    margin-right: 10px;
    padding: 10px;
}

.footer__following-link {
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
    position: relative;
}

.footer__following-link::after {
    content: '';
    display: block;
    background-color: #ffff00;
    height: 2px;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    transition: width .3s linear;
}

.footer__following-link:hover::after {
    width: 100%;
    color: white;
}

.footer__following-link-instagram {
    background-image: url(../img/footer/icon-instagram.png);
}

.footer__following-link-telegram {
    background-image: url(../img/footer/icon-telegram.png);
}

.footer__following-link-facebook {
    background-image: url(../img/footer/icon-facebook.png);
}

.footer__following-link-twitter {
    background-image: url(../img/footer/icon-twitter.png);
}