@font-face {
    font-family: 'Montserrat';
    src: url('../font/montserrat-v14-latin_cyrillic-regular.woff') format('woff'), url('../font/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('../font/anonymous-pro-v13-latin_cyrillic-regular.woff') format('woff'), url('../font/anonymous-pro-v13-latin_cyrillic-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jura';
    src: url('../font/jura-v14-latin_cyrillic-regular.woff') format('woff'), url('../font/jura-v14-latin_cyrillic-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    --font-first: "Montserrat", sans-serif;
    --font-second: "Jura", sans-serif;
    --font-third: "Caveat", cursive;
    --font-logotype: "Anonymous Pro", monospace;
}

@keyframes animation_background {
    0% {
        box-shadow: 25px 0px 40px -16px rgba(243, 229, 33, 1);
    }
    25% {
        box-shadow: 0px 25px 40px -16px rgba(243, 229, 33, 1);
    }
    50% {
        box-shadow: -25px 0px 40px -16px rgba(243, 229, 33, 1);
    }
    75% {
        box-shadow: 0px -25px 40px -16px rgba(243, 229, 33, 1);
    }
    100% {
        box-shadow: 25px 0px 40px -16px rgba(243, 229, 33, 1);
    }
}

@keyframes anim_arrow {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes name-apper {
    0% {
        bottom: 0;
        opacity: 0;
    }
    100% {
        bottom: 10px;
        opacity: 1;
    }
}

@keyframes anim_social {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate-icon {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate();
    }
}

@keyframes anim_shadow {
    0% {
        box-shadow: 0px 0px 20px 0px rgba(237, 253, 4, 0.75);
    }
    50% {
        box-shadow: 0px 0px 0px 0px rgba(237, 253, 4, 0.75);
    }
    100% {
        box-shadow: 0px 0px 20px 0px rgba(237, 253, 4, 0.75);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* font-family: 'Kaushan Script', cursive; */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    background-color: #000000;
    font-family: var(--font-first);
}

.text-dec-first {
    font-family: var(--font-second);
    font-size: 24px;
    font-style: italic;
}

.container {
    margin: 0 auto;
    width: 320px;
    padding: 0 10px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 20px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/header/background-photo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navigation {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-size: 20px;
}

.logotype {
    color: #ffffff;
    transition: color 200ms linear;
    font-family: var(--font-logotype);
    font-size: 40px;
    padding: 5px;
}

.logotype:hover {
    color: #ffff00;
    animation-name: rotate-icon;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.order-link {
    /* display: block; */
    color: #ffff00;
    position: relative;
    transition: color .4s linear;
    padding: 5px;
}

.order-link:hover {
    color: white;
}

.order-link::after {
    content: '';
    display: block;
    background-color: #ffff00;
    height: 2px;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    transition: width .4s linear;
}

.order-link:hover::after {
    width: 100%;
    color: white;
}

.header__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    /* line-height: 80px; */
    line-height: 40px;
    font-weight: 600;
    font-family: var(--font-second);
}

.color-decoration {
    color: #ffff00;
}

.arrow-link {
    display: block;
    width: 60px;
    margin: 0 auto;
    text-align: center;
    animation-name: anim_arrow;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.arrow {
    color: #ffffff;
    font-size: 50px;
    padding: 10px;
}

.arrow:hover {
    color: #ffff00;
}

.menu {
    margin-bottom: 30px;
}

.menu__list-icon {
    width: 50px;
    height: 50px;
    transition-property: transform, fill;
    transition-duration: .4s;
    transition-timing-function: linear;
    fill: white;
}

.menu__list-icon:hover {
    fill: yellow;
    /* animation-name: rotate-icon;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: linear; */
}

.menu__list-icon:hover {
    /* transform: scale(1.2); */
}

.menu__list-item {
    padding: 0 20px;
    text-align: center;
    padding-bottom: 3px;
    border-radius: 20px;
    font-size: 24px;
    transition: 300ms linear;
    cursor: pointer;
}

.menu__list-link {
    color: #ffff00;
    position: relative;
    transition: color .4s linear;
    padding: 5px;
}

.menu__list-link:hover {
    color: white;
}

.menu__list-link::after {
    content: '';
    display: block;
    background-color: #ffff00;
    height: 2px;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    transition: width .4s linear;
}

.menu__list-link:hover::after {
    width: 100%;
    color: white;
}


/* ---------------------------------------greeting--------------------------------- */

.greeting {
    background: rgb(255, 255, 255);
    animation-name: anim_shadow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.greeting__description {
    font-size: 15px;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, .7);
    text-align: center;
}

.my-photo {
    margin-left: auto;
    width: 200px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.social-overlay__wrap {
    position: relative;
}

.social-overlay:hover::before {
    opacity: 1;
}

.social-overlay__item {
    position: absolute;
    left: -35px;
    top: 0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition-property: transform, opacity;
    transition-duration: .5s;
    transition-timing-function: linear;
    opacity: 1;
    transform: translateX(30px);
}

.social-overlay__item-icon {
    width: 50px;
    height: 50px;
    transition-property: transform, fill;
    transition-duration: .4s;
    transition-timing-function: linear;
    fill: black;
}

.social-overlay__item-icon:hover {
    fill: blue;
    animation-name: rotate-icon;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.social-overlay__item-icon:hover {
    /* transform: scale(1.2); */
}


/*------------------------------------ portfolio---------------------------------- */

.portfolio {
    padding-top: 20px;
    padding-bottom: 30px;
}

.portfolio__list {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    animation-name: anim_shadow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.image-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/portfolio/project_1.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-size 0.3s linear;
}

.portfolio__list-item:hover .image-overlay {
    background-size: 103%;
}

.section-title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: var(--font-second);
}

.portfolio__list-item {
    width: 340px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s linear;
}

.portfolio__list-item:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 0);
    transition: background-color 0.3s linear;
    opacity: 0;
}

.portfolio__list-item:hover .overlay {
    opacity: 0.3;
}

.portfolio__list-title {
    color: black;
    position: absolute;
    font-size: 20px;
    left: 20px;
    opacity: 0;
    z-index: 1;
}

.portfolio__list-item:hover .portfolio__list-title {
    animation-name: name-apper;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.icon-link {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url(../img/portfolio/go_to.svg);
    opacity: 0;
    transition: opacity, transform, scale;
    transition-timing-function: linear;
    transition-duration: 0.3s;
}

.icon-link:hover {
    transform: scale(1.2);
}

.portfolio__list-item:hover .icon-link {
    opacity: 1;
}


/* ---------------------------------------about_me--------------------------------- */

.about-me {
    margin-bottom: 30px;
}

.about-me__item {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 700px;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid rgb(156, 156, 156);
    animation-name: anim_shadow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.about-me__discription {
    padding: 20px 0;
}

.about-me__discription-item:not(:last-child) {
    margin-bottom: 30px;
}

.about-me__discription-item-title {
    font-size: 13px;
}

.about-me__discription-item-text {
    font-size: 13px;
}

.about-me__list-icon {
    display: block;
    width: 60px;
    height: 60px;
    fill: rgba(0, 0, 0, .8);
    transition: transform;
    transition-timing-function: linear;
    transition-duration: 1.5s;
}

.about-me__list-icon:hover {
    transform: rotateY(360deg);
    fill: black;
}

.about-me__list-program {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}

.about-me__item {
    display: flex;
}

.contacts {
    margin-bottom: 30px;
}

.form-wrapper {
    background-color: #fff;
    padding: 30px;
    animation-name: anim_shadow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.contacts__form {
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.personal-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input input {
    width: auto;
    height: 50px;
    border-style: none;
    padding-left: 10px;
    margin-bottom: 10px;
    outline: none;
    border-bottom: 1px solid #dadada;
    transition: border-bottom;
    transition-timing-function: linear;
    transition-duration: 0.3s;
    font-size: 18px;
    font-family: var(--font-first);
}

.input select {
    width: 100%;
    height: 50px;
    border-style: none;
    padding-left: 10px;
    margin-bottom: 10px;
    outline: none;
    border-bottom: 1px solid #dadada;
    transition: border-bottom;
    transition-timing-function: linear;
    transition-duration: 0.3s;
    font-size: 18px;
    font-family: var(--font-first);
}

.contact-form__select {
    font-size: 18px;
    color: rgb(187, 187, 187);
    font-family: var(--font-first);
}

.input input:hover {
    border-bottom: 1px solid #f3c83b;
}

.wish {
    outline: none;
    border-style: none;
    width: 100%;
    height: 150px;
    resize: none;
    padding: 10px;
    border-bottom: 1px solid #dadada;
    transition: border-bottom;
    transition-timing-function: linear;
    transition-duration: 0.3s;
    font-size: 18px;
    font-family: var(--font-first);
}

.wish:hover {
    border-bottom: 1px solid #f3c83b;
}

.buttons {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn {
    display: block;
    width: 140px;
    height: 30px;
    padding: 0 10px;
    background-color: yellow;
    border-style: none;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: var(--font-first);
    font-weight: 600;
    opacity: .7;
    transition: all;
    transition-timing-function: linear;
    transition-duration: 0.1s;
    outline: none;
}

.btn:hover {
    opacity: 1;
    transform: scale(1.02);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.btn:nth-child(1) {
    margin-right: 20px;
}

.contacts__form textarea::placeholder {
    font-size: 18px;
    color: rgb(187, 187, 187);
    font-family: var(--font-first);
}

.contacts__form input::placeholder {
    font-size: 18px;
    color: rgb(187, 187, 187);
    font-family: var(--font-first);
}

.input input[type='email']:invalid {
    color: red;
}

.developer-screen {
    background-image: url(../img/contact/developer.png);
    background-size: cover;
    width: 400px;
    height: 400px;
}


/* ---------------------------------footer ---------------------------------------------*/

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(83, 75, 75);
    animation-name: anim_shadow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.footer-item {
    color: #fff;
}

.footer-title {
    text-transform: uppercase;
    font-family: var(--font-second);
    margin-bottom: 20px;
}

.footer-description {
    margin-bottom: 20px;
    color: rgb(177, 177, 177);
}

.footer__navigation {
    margin-bottom: 70px;
}

.footer__navigation-item-list {
    margin-bottom: 10px;
}

.footer__navigation-item-link {
    color: rgb(177, 177, 177);
    border-bottom: 1px solid rgba(177, 177, 177, 0);
    transition: border-bottom;
    transition-timing-function: linear;
    transition-duration: 0.3s;
}

.footer__navigation-item-link:hover {
    border-bottom: 1px solid rgba(177, 177, 177, 1);
}

.footer__contacts-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__contacts-item-list {
    position: relative;
    margin-bottom: 20px;
}

.footer__contacts-item-list::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
    top: -5px;
    left: 0;
    position: absolute;
}

.footer__contacts-item-list-location::before {
    background-image: url(../img/footer/icon-location.png);
}

.footer__contacts-item-list-email::before {
    background-image: url(../img/footer/icon-mail.png);
}

.footer__contacts-item-list-phone::before {
    background-image: url(../img/footer/icon-phone.png);
}

.footer__contacts-item-list {
    color: rgb(177, 177, 177);
}

.footer__following-link {
    display: block;
    width: 30px;
    height: 30px;
    background-size: cover;
    position: relative;
}

.footer__following-link::after {
    content: '';
    display: block;
    background-color: #ffff00;
    height: 2px;
    width: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    transition: width .3s linear;
}

.footer__following-link:hover::after {
    width: 100%;
    color: white;
}

.footer__following-link-instagram {
    background-image: url(../img/footer/icon-instagram.png);
}

.footer__following-link-git {
    background-image: url(../img/footer/icon-git-2.png);
}

.footer__following-link-facebook {
    background-image: url(../img/footer/icon-facebook.png);
}

.footer__following-link-twitter {
    background-image: url(../img/footer/icon-twitter.png);
}